#index_workouts 
	- @workouts.each do |workout|
		%h2=  link_to workout.date.strftime("%A %B %d %Y"),workout
		%h3= workout.workout
		%p= workout.length
		%p= workout.date.strftime("%A %B %d %Y")
		= link_to  "Show", workout_path(workout)
		= link_to "Edit", edit_workout_path(workout)
		= link_to "Delete", workout_path(workout), method: :delete, data: { confirm: "Are you sure?" }


